html{
    background-color: #ff4040 !important;
}
html::before {
    content: 'Reddit Feed blocked with chrome extension : Reddit DeScroller';
  }
body {
    display:none !important;
    background-color: black !important;
}